*{
    padding: 0;
    margin: 0;
}

.hj{
    margin-left: 25px;
   outline: 0;
}
.ko{
    margin-top: 10px ;
    margin-left: 25px;
}
.pol{
    margin-left: 25px;
}
.pl{
    width: 350px;
    margin-left: 50px;
    
}
.pol1{
    margin-left: 25px;
}